<section class="breadcrumb_area" data-bg-image="img/wallpapers/cover-photo.webp" data-bg-color="#140C1C">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb_content d-flex flex-column align-items-center">
                    <h2 class="title wow fadeInUp" data-wow-delay=".3s"><%= title %></h2>
                    <div class="breadcrumb_navigation wow fadeInUp" data-wow-delay=".5s">
                        <span><a href="/">Inicio</a></span>
                        <i class="far fa-long-arrow-right"></i>
                        <span class="current-item"><%= title %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>